<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <script src="../plugin/angular/angular.min.js" type="text/javascript"></script>
</head>
<body ng-app="myApp">
	<div ng-controller="repeatController">
  I have {{friends.length}} friends. They are:
  <input type="search" ng-model="q" placeholder="filter friends..."/>
  <ul class="example-animate-container">
    <li class="animate-repeat" ng-repeat="friend in friends | filter:q">
      [{{$index + 1}}] {{friend.name}} who is {{friend.age}} years old.
    </li>
    <li class="animate-repeat" ng-if="q.length === 0">
      <strong>No results found...</strong>
    </li>
  </ul>
</div>
	<script>
        var app=angular.module("myApp",[]);
       app.controller("repeatController",function($scope,$http){
	   var url="http://api.cijagani.in/practice/angular-js/demo/json_data/friends.json";
	   $http.get(url).then(function(response){
			console.log(response);
			console.log(response.status);
			$scope.friends=response.data;
	   });
			
			
       });
    </script>
</body>
</html>
