<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <script src="../plugin/angular/angular.min.js" type="text/javascript"></script>
</head>
<body ng-app="myapp" >
    <div class="col-md-4">
	
    </div>
    <div class="col-md-4">
        <div ng-controller="myctrl">
		<p>Click the table headers to change the sorting order:</p>
        <table class="table table-bordered" width="80%">
            <tr>
                <th ng-click="orderByMe('SubjectCode')">SubjectCode</th>
                <th ng-click="orderByMe('SubjectDescription')">Subject Description</th>
            </tr>
            <tr ng-repeat="k in subjects | orderBy:myOrderBy"  >
                <td ng-if="$odd" style="background-color:#f1f1f1">{{ k.SubjectCode}}</td>
				<td ng-if="$even">{{ k.SubjectCode}}</td>
				<td ng-if="$odd" style="background-color:#f1f1f1">{{ k.SubjectDescription}}</td>
                <td ng-if="$even">{{ k.SubjectDescription}}</td>
            </tr>
        </table>
    </div>
    </div>
    <div class="col-md-4">
    </div>
    
    <script>
        //creating an application module
        var app=angular.module("myapp",[]);
		app.controller("myctrl",function($scope, $http){
			$http.get('../json_data/subject.json').then(function(response) 
			{
				console.log(response.config);
                console.log(response.data);
                console.log(response.status);
                console.log(response.statusText);
                if(response.status==200){

                }

                if(response.statusText=="OK"){
                    
                }
				$scope.subjects = response.data;
			});
			
			$scope.orderByMe = function(x) {
				$scope.myOrderBy = x;
    }
			
       });
    </script>
</body>
</html>
