<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <script src="../plugin/angular/angular.min.js" type="text/javascript"></script>
</head>
<body ng-app="myapp" >
   <div class="row">
        <div class="col-md-6">
		<div class="col-md-4">
			<div class="col-md-6">
				
			</div>
		</div>
        </div>
        <div class="col-md-6">
            <form class="form-horizontal" ng-controller="usercontroller">
                <fieldset>

                <!-- Form Name -->
                

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-sm-4 control-label" for="fname">First Name</label>
                  <div class="col-sm-6">
                    <input id="fname" name="fname" type="text" placeholder="first name" class="form-control input-md" ng-model="firstName">
                     
                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-sm-4 control-label" for="lname">Last Name</label>
                  <div class="col-sm-6">
                    <input id="lname" name="lname" type="text" placeholder="last name" class="form-control input-md" ng-model="lastName">
                     
                  </div>
                </div>
				<!-- Button -->
				<div class="form-group">
				 
				  <div class="col-md-4">
					<button id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click="fullName()">Click</button>
				  </div>
				</div>
                <br/>
                   <h3> Fullname : {{person_name}} </h3>

                </fieldset>
               
                </form>
                
        </div>
       
   </div>
   <script>
       var app=angular.module('myapp',[]);
       app.controller('usercontroller',function($scope){
            $scope.firstName = "Chirag";
            $scope.lastName = "Jagani";
            $scope.fullName=function(){
                $scope.person_name= $scope.firstName +" "+ $scope.lastName;
            }
       });
   </script>
</body>
</html>
